<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <!--Bootstrap-->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="polygon.js"></script>
    <script src="route.js"></script>
    <!--Vue.js--> 
    <script src="vue.min.js"></script> 
    <script defer src="uebung2.js"></script>
    <script defer src="uebung8.js"></script>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>
    <!--Header-->
    <div id="bg-head">
        <h1 id="title" class="d-block p-2 bg-dark text-white">{{ message }}</h1>
        <p id="subtitle" class="d-block p-2 bg-dark text-white">{{ message }}</p> 
    </div>
    <!--<h1 id="title">{{ message }}</h1>
    <p id="subtitle">{{ message }}</p>-->
    <!--<table id="table"><table>
    <div id="finalSum"></div>-->
    <div id="table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Distance (in km) </th>
                    <th> Start coordinate </th>
                    <th> End coordinate </th>
                </tr>
            </thead>
            <tr v-for="distance in distances">
                <td>{{distance.dist}}</td>
                <td>{{distance.startpoint[0]}}, {{distance.startpoint[1]}}</td>
                <td>{{distance.endpoint[0]}}, {{distance.endpoint[1]}}</td>
            </tr>
        </table>
    </div>
    <div id="finalSumValue">{{ message }}</div>
    <div id="innerBody">
        <div id="input">
            <textarea id="inputField" v-model="message" placeholder="Enter Linestring..."></textarea>
            <button v-on:click="getInputValue">Use input-route</button>
            <br>{{ errorMes }}
        </div>

        <div id="route">
            <textarea id="routeField" v-model="message"></textarea>
            <!--<button type="button" class="button" onclick="useStandard()">Use standard-route</button>-->
        </div>

       
        <!--<textarea type="text" id="input" placeholder="Enter LineString..."></textarea>
        <button type="button" class="button" onclick="getInputValue()">Use input-route</button>
        -->


        <div id="uploadInfo">Upload a .json or .geojson file including a LineString to use it directly as route</div>
        <input type="file" id="uploadfield"><br>
        <div id="errorMessage2"></div><br>
        <button type="button" class="button" onclick="getFile()">Use uploaded file</button>


        <div id="polygonArea">
            <textarea id="polygonField" v-model="message"></textarea>
        </div>
    </div>
    <!-- Footer -->
    <footer id="footer" class="bg-dark text-center text-lg-start text-white sticky-bottom">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright: J. Balzer & A. Pilz
        </div>
    </footer>
</body>
</html>