<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <!--Bootstrap-->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="polygon.js"></script>
    <script src="route.js"></script>
    <!--Vue.js--> 
    <script src="vue.min.js"></script> 
    <script defer src="uebung2.js"></script>
    <script defer src="uebung8.js"></script>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>
    <!--Header-->
    <div id="bg-head">
        <h1 id="title" class="d-block p-2 bg-dark text-white">{{ message }}</h1>
        <p id="subtitle" class="d-block p-2 bg-dark text-white">{{ message }}</p> 
    </div>
    <!--Table-->
    <div id="table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Distance (in km) </th>
                    <th> Start coordinate </th>
                    <th> End coordinate </th>
                </tr>
            </thead>
            <tr v-for="distance in distances">
                <td>{{distance.dist}}</td>
                <td>{{distance.startpoint[0]}}, {{distance.startpoint[1]}}</td>
                <td>{{distance.endpoint[0]}}, {{distance.endpoint[1]}}</td>
            </tr>
        </table>
    </div>
    <!--FinalSum-->
    <div id="finalSumValue">{{ message }}</div>
    <div id="innerBody">
        <!--InputField-->
        <div id="input">
            <textarea id="inputField" v-model="message" placeholder="Enter Linestring..."></textarea><br>
            <button class="btn btn-secondary btn-lg btn-block" v-on:click="getInputValue">Use input-route</button>
            <br><br><div id="errorMessage">{{errorMes}}</div>
        </div>
        <!--RouteField-->
        <div id="routeField">
            <textarea id="routeShow" v-model="message"></textarea><br>
            <button class="btn btn-secondary btn-lg btn-block" v-on:click="useStandard">Use standard-route</button>
        </div>
        <!--Polgon field-->
        <div id="polygonArea">
            <textarea id="polygonField" v-model="message"></textarea>
        </div>
    </div>
    <!-- Footer -->
    <footer id="footer" class="bg-dark text-center text-lg-start text-white sticky-bottom">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright: J. Balzer & A. Pilz
        </div>
    </footer>
</body>
</html>