table, th, td {
    padding: 10px;
    border: 0.1px solid black;
    border-collapse: collapse;
    font-family: Tahoma, Verdana, sans-serif;
}
table{
    width: 100%
}
.th{
    height: 100 px;
    text-align: middle
}
.th, .td{
    height: 500px;
    text-align: left
}
tr{
    height: 50px
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
div{
    padding-top: 20px;
    height: 200 px;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 18px;
}