/* Task 4 */
h1, p, table, div, a{
    font-family: Tahoma, Verdana, sans-serif;
}
#bg-head{
    background-color: rgb(34,37,41); 
    padding-top: 20px; 
}
#subtitle{
    font-size: 20px;
}
#subtitle{
    font-size: 20px;
}
#map { 
    height: 610px; 
}
#apiField{
    width: 250px;
}