/* Task 2 */

h1, p, table, div{
    font-family: Tahoma, Verdana, sans-serif;
}
#bg-head{
    background-color: rgb(34,37,41);
    padding-top: 20px;
}
#subtitle{
    font-size: 20px;
}
#divTable{
    padding-top: 20px;
}
#mainDiv, #divTable{
    padding-left: 5px;
}
#finalSum, #routeHeading{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 200 px;
    font-size: 18px;
}

#input{
    font-family: Tahoma, Verdana, sans-serif;
    width: 49%;
    height: 300px;
}
#route{
    font-family: Tahoma, Verdana, sans-serif;
    width: 49%;
    height: 300px;
}
.button{
    background-color: #6e9aa0cb; 
    width: 49%; 
    color: black;
    border: none;
    padding: 15px 32px;
    font-size: 18px;
    border: 5px solid white
}
#polygon{
    font-family: Tahoma, Verdana, sans-serif;
    width: 98%;
    height: 150px;
}

#errorMessage{
    text-align: center
}
#uploadfield{
    padding: 10px
}
#uploadInfo{
    padding-left: 10px;
    padding-top: 10px
}
